[Unit]
Description=Cuckoo Webinterface
After=network.target cuckoo-daemon.service
Requires=cuckoo-daemon.service

[Service]
User={{ cuckoo_user }}
WorkingDirectory={{ cuckoo_home }}
ExecStart={{ cuckoo_home }}/virtualenv/bin/cuckoo web runserver 127.0.0.1:8080

[Install]
WantedBy=multi-user.target
